<div class = "my-card-with-picture">
  <div class="image">
    <%= icon_or_name(presentation) %>
  </div>
  <div class="left-side">
    <div class="my-title">
      <%= presentation.name %>
    </div>
    <div class="my-date">
      <%= presentation.created_at.to_date %>
    </div>
  </div>
  <div class="right-side my-title">
    <%= presentation.amount %>
  </div>
</div>
