<h2>
  Presentations
</h2>

<%= link_to 'Create New', new_presentation_path%>

<div class="container-fluid d-flex flex-row shadow-lg my-3 align-items-center">
  <h3>Average: <%= @presentations.average(:amount) %> </h3>
</div>
<%= render @presentations %>
