<%= link_to group, class:"text-overlay link-box" do %>
  <div class="my-card-with-picture">
    <%= group_avatar(group) %>
    <div class="left-side">
      <div class="my-title">
        <%= group.name%>
      </div>
      <div class="my-date">
        <%= group.created_at.to_date%>
      </div>
    </div>
  </div>
<% end %>
