<div class="my-cards-header-with-picture">
  <%= link_to 'Create New', new_group_path%>
</div>

<% if @groups.any? %>
  <div class="my-container pt-3">
    <%= render @groups.order(:name) %>
  </div>
<% end %>
