<div class="my-cards-header-with-picture">
    <%= link_to 'Create New', new_group_path%>
</div>

<div class="bg-secundary">
  <div class="my-cards-header">
    <div class= "my-header-title" >Average:</div>
    <div class= "my-header-title" ><%= @group.presentations.average(:amount) %></div>
  </div>

  <div class="my-container">
    <%= render partial: 'groups/presentation', collection: @group.presentations %>
  </div>
</div>
