@import 'bootstrap-sprockets';
@import 'bootstrap';
@import './main';

@font-face {
  font-family: 'Proxima Nova';
  src: url('proxima_nova_light.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('proxima_nova_bold.otf');
  font-weight: 700;
}
