@import 'bootstrap-sprockets';
@import 'bootstrap';
@import './main';

@font-face {
  font-family: 'Proxima Nova';
  src: url('Proxima Nova Alt Light.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('Proxima Nova Alt Bold.otf');
  font-weight: 700;
}
