$primary: #3778c2;
$secundary: #5fb523;
$tertiary: #434b54;

$bg-primary: #3778c2;
$bg-secundary: #f2f2f2;//e6e6e6;
$font: 'Proxima Nova', sans-serif;

body {
  color: black;
  background: $bg-primary;
  background: linear-gradient(45deg, rgba(112, 155, 199, 1) 0%, rgba(10, 30, 100, 1) 56%, rgba(19, 10, 84, 1) 100%) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none !important;
  color: black;
}

.link-box :hover {
  background: rgba(10, 30, 100, 1);
  color: white;
}

.my-container {
  color: black;
  background: $bg-secundary;
  padding-bottom: 3rem;
}

nav {
  font: normal normal 400 2rem/3rem $font;
  color: white;

  i {
    font-size: 3rem;
  }

  span {
    font-size: 3rem;
  }

  a {
    color: white;
    font: normal normal 400 2rem/3rem $font;
    text-decoration: none;
    padding-left: 1rem;
  }

  p {
    color: white;
    font: normal normal 400 2rem/3rem $font;
    padding-left: 1rem;
  }
}

h2 {
  font-family: $font;
}

@mixin my-card {
  margin: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;

  .image {
    padding: 2rem;
    font: normal normal 700 2rem/3rem $font;
  }

  .left-side,
  .right-side {
    padding: 0 2rem;
  }

  .my-title {
    font: normal normal 700 2rem/3rem $font;
    margin-top: 2rem;
  }

  .my-date {
    font: normal normal 400 1.5rem/3rem $font;
    margin-top: 2rem;
  }

  @media only screen and (max-width: 800px) {
    width: 95%;
  }

  @media only screen and (min-width: 800px) and (max-width: 1024px) {
    margin: 1rem auto;
    width: 75%;
  }

  @media only screen and (min-width: 1024px) {
    margin: 1rem auto;
    width: 40%;
  }
}

@mixin my-cards-header {
  display: flex;
  padding: 3rem;
  font: normal normal 400 2.5rem/3rem $font;

  .my-header-title {
    font-weight: 700;
  }
}

.bg-secundary {
  background: $bg-secundary !important;
}

.my-cards-header {
  @include my-cards-header();

  justify-content: space-between;
  align-items: baseline;
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
}

.my-cards-header-with-picture {
  @include my-cards-header();

  flex-direction: column;
  color: white;

  .image {
    padding: 0 2rem;
  }

  .my-header-title {
    padding: 2rem;
  }

  a {
    text-align: left;
    color: white;
    padding: 1rem 0;
    border-bottom: 1px solid white;
    text-decoration: none;
  }

  a:hover {
    background: white;
    color: rgba(10, 30, 100, 1);
  }
}

.my-form-card {
  @include my-card();

  background: $bg-secundary;
  border-radius: 1rem;

  .card-header {
    margin-bottom: 1rem;
  }

  .field {
    width: 95%;
    border: none;
    padding: 1.5rem;
    margin-left: 2.5%;
    font: normal normal 400 2rem/3rem $font;
    border-radius: 1rem;
  }

  .comment {
    font: normal normal 400 1.5rem/3rem $font;
    margin-left: 1rem;
  }

  .button {
    text-align: center;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 0;
    border: 2px solid lightgray;
    color: gray;
  }
}

.my-card {
  @include my-card();

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 0;
  padding-bottom: 1rem;
}

.my-card-with-picture {
  @include my-card();

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
