<header>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="" alt=""> Elan Manager
    </a>
    <div class="navbar-brand d-flex flex-row">
      <% if current_user%>
        <div class="nav-item active mx-3">
          <%= current_user.name.capitalize %>
        </div>
        <div class="nav-item mx-3">
          <%=link_to "Sign out", destroy_user_session_path, method: :delete%>
        </div>
      <% else %>
        <div class="nav-item mx-3">
          <%= link_to "Sign in", new_user_session_path %>
        </div>
      <% end %>
    </div>
  </nav>
</header>
