<% if flash[:notice] %>
  <div class="alert text-center alert-primary">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert text-center alert-danger">
    <p class="alert"><%= alert %></p>
  </div>
<% end %>
